# Used for ktlint. Remaining configs for kotlin sources are defined in the code-style.
[*.{kt, kts}]
indent_size = 2
ij_continuation_indent_size = 4
insert_final_newline = true
max_line_length = 120

[*.xml]
insert_final_newline = true
